.header{
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to bottom left, rgb(141, 194, 202), rgb(175, 172, 173));
    box-shadow: 0 0 20px 0 black;
}
.d-flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo_text{
    color: rgb(27, 15, 131);
    text-decoration: none;
    font-size: 30px;
    font-family: 'Lobster', cursive;
}
.section{
    height: 100%;
    padding: 80px 40px 0;
}
.video{
    width: 100%;
    height: 100%;
    margin-top: 0;
}
.buttons{
    display: flex; 
    margin-top: 10px;
}
.footer{
    position: absolute;
    bottom: 0;
    left: 42%;
}
.list{
    margin-top: 30px;
}
